#attributes-container{
    display:flex;
    justify-content: space-evenly;
}
.sheet-skill-container{
    box-sizing: border-box;
    width: 120px;
    height: 100px;
    background-color: white;
    border: 1px solid grey;
    /* display: flex;


   align-items: center;*/
}



.sheet-skill-label{
display: block;
align-self: flex-start;
}

#will, #luck, #cunning, #skill, #affection, #athletics{
    display: block;
    width: 100px;
    height: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border:0;
    z-index: 0;
    font-size: 30px;
}

#attributes-container{
    box-sizing: border-box;
    background-color: lightgray;
    border-top: 30px solid lightgrey;
    border-bottom: 10px solid lightgrey;
}

#attributes-label{
    position: absolute;
    color: black;
    /*top: -15px;
    left: 23px;*/
    padding: 2px;
    z-index: 1;
}