@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Fuzzy+Bubbles&family=La+Belle+Aurore&family=Nothing+You+Could+Do&family=Rancho&display=swap');
    
    

 .fuzzy-font{
    font-family: 'Fuzzy Bubbles', cursive;
}

html{

}
body{
}

.sheet-container{
    margin-left: 30vw;
    display: grid;
    min-width: 870px;
    max-width: 870px;
    grid-template-columns: 230px 230px 90px 280px;
    grid-template-rows: 110px 50px 290px 150px 200px 200px 200px 50px; 
 } 
 :root{
    --border-color: pink;

 }
 
#maid-types-container{
    position: relative;
    box-sizing: border-box;
    border: dotted pink 3px;
    border-radius: 10px;
    grid-column: 1 / 3 ;
    grid-row: 2 / 3;
    width: 450px;
}

#maid-types-container > label{
    margin-left: 10px;
}

#maid-types-container > label, #maid-types-container > p{
  display: inline;
}
#maid-types-container > select{
    border: none;
    width: 130px;
    position: relative;
    margin-top: 4px;
}
#special-qualities-container > select{
    border: none;
    border-bottom: solid black 1px;
}


#sq-msm-container{
    grid-column: 1 / 2 ;
    grid-row: 3 / 4;
}


#maid-roots-container > select, #stress-explosion-container > select, #maid-power-container > select,
 #maid-weapon{
    border: none;
}


#attributes-container{
    position: relative;
    display:flex;
    justify-content: space-evenly;
    grid-column: 1 / 5;
    grid-row: 4 / 5 ;
    box-sizing: border-box;
    background-color: lightgray;
    border-top: 30px solid lightgrey;
    border-bottom: 10px solid lightgrey;
    border-radius: 15px;
    margin-bottom: 10px;
}
#root-ex-pow-container{
    position: relative;
    grid-column: 2 / 3 ;
    grid-row: 3 / 4;
}

.special-qualities-select{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.sheet-skill-container{
    box-sizing: border-box;
    width: 120px;
    height: 96px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
     


.optgroup-replacement{
    background-color: grey;
    color: white; 
    font-weight: bold;
}

#athletics-label, #affection-label, #skill-label, #cunning-label, #luck-label, #will-label{
    display: inline;
    margin-left: 8px;
}

#game-title{
    height: 8%;
    font-size: 30px;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#game-title > span{
    font-weight: bold;
    font-size: 40px;
}

#maid-roots-container, #stress-explosion-container, #maid-power-container{
    box-sizing: border-box;
    border: dotted pink 3px;
    width: 84%;
    height: 80px;
    border-radius: 10px;
    margin-left: 26px;
    margin-top: 10px;
    
}

#maid-power, #stress-explosion, #maid-roots{
    width: 96%;
}

#special-qualities-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: dotted pink 3px;
    align-items: center;
    border-radius: 10px;
    height: 260px;
    margin-top: 10px;
}

.charsheet button[type=roll].txt-btn{
    display: block;
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    border: rgba(255, 255, 255, 1);
    width: 120px;
    /*padding: 0% 30px;;*/
    font-weight: bold;
    border-radius: 10px;
    /*font-family: 'La Belle Aurore', cursive;*/
}


.charsheet button[type=roll].txt-btn:hover{
    background-color:white;
    color: red;
    border: white;
}



.ui-dialog .charsheet button[type=roll]:before {
    content: "";
}

#sq-msm-container{
    display:flex;
    position: relative;
}
/*.sheet-skill-label{
/*display: block;
align-self: center;
}*/

#bio-info{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 430px; 
    position: relative;
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    border: 3px pink dotted;
    border-radius: 10px;
}

.bio-flex{
    display: flex;
    gap: 70px;
    position: relative;
    margin-bottom: 270px;
}
.bio-input{
    width: 140px;
    position: relative;
    background-color: white;
    border: none;
    transition: border 1s;
}
.bio-input:hover, #name:hover{
    border: solid pink 1px;
}
.color-flex{
    display: flex;
    justify-content: space-between;
}

#name-container input, #age-container input{
    width: 100px;
}
#maid-colors-container input{
    width: 90px;
}

#clothes-color, #eyes-color, #hair-color{
    width: 100%;
}
#age-container{
    position: relative;
}

#maid-colors-container{
    position: relative;
}

.bio{
    display: block;
}
.colors-label{
    position: relative;
    display: inline-block;
    width: 10%;
}


#athletics-label:hover, #affection-label, #skill-label, #cunning-label, #luck-label, #will-label{
    color: red;
}

#will, #luck, #cunning, #skill, #affection, #athletics{
    display: block;
    width: 100px;
    height: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border:0;
    z-index: 0;
    font-size: 30px;
}



#special-qualities-label, #stress-explosion-label, #maid-roots-label, #maid-power-label{
    margin-left: 15px;
}

#attributes-label{
    position: absolute;
    color: black;
    margin-left: 50px;
    margin-top: -20px;
    z-index: 1;
    font-size: 20px;
}

#stress-container{
    grid-row: 5 / 6;
    grid-column: 1 / 4;
}

#favor-container{
    grid-row: 6 / 7;
    grid-column: 1 / 4;
}

#notes-container{
    grid-row: 7 / 8;
    grid-column: 1 / 4;
}
#maid-weapon-container{
    grid-row: 5 / 6;
    grid-column: 4 / 5;
}
#appearence-personality-container{
    grid-row: 6 / 8;
    grid-column: 4 / 5;
}
#stress-container, #notes-container, #favor-container, #maid-weapon-container,#appearence-personality-container {
    position: relative;
    box-sizing: border-box;
    border: 3px pink dotted;
    margin-bottom: 10px;
    border-radius: 5px;
}

#stress-container, #notes-container, #favor-container{
    margin-right: 10px;
}

#notes{
    width: 522px;
    height: 140px;
}
#appearance-personality{
    position: relative;
    height: 342px;
    width: 261px;
}
#maid-weapon-description{
    position: relative;
    height: 102px;
    width: 260px;
}

#maid-weapon-description, #appearance-personality, #stress-extra, #favor-extra{
    margin-left: 2px;
}
textarea, #spirit, #favor, #stress{
    background-color: white;
    border: none;
}
#stress-extra{
    position: relative;
    top: -40px;
    height: 124px;
    width: 520px;
}
#favor-extra{
    position: relative;
    top: -40px;
    height: 120px;
    width: 520px;
}
.inline{
    display: inline-block;
}
#sf-container{
    position: relative;
    left: 340px;
    top: -35px;
}

#spirit-container{
    position: relative;
    left: 410px;
    top: -30px;
}

#spirit-container p{
    position: relative;
    left: 60px;
}
#sf-container p{
    position: relative;
    left: 100px;
}

#favor, #stress, #stress-container label, #favor-container label{
    display: inline;
    margin-top: 5px;
}
/* font-family: 'Covered By Your Grace', cursive;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Rancho', cursive;*/

