@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Fuzzy+Bubbles&family=La+Belle+Aurore&family=Nothing+You+Could+Do&family=Rancho&display=swap');
    
    

 .fuzzy-font{
    font-family: 'Fuzzy Bubbles', cursive;
}

/*.sheet-container{
    display: grid;
    max-height: 1200;
    min-height: 1200;
    grid-template-columns: 50px 270px 200px 70px 270px 50px; /* 7 
    grid-template-rows: 50px 200px 3fr 100px 3fr 50px; /* ~1200 px*/ /*11
}*/


#maid-types-container{
    box-sizing: border-box;
    width: 60%;
    border: dotted pink 3px;
    border-radius: 10px;
}
#maid-types-container > label{
    margin-left: 10px;
}
#maid-types-container > label, #maid-types-container > p{
  display: inline;
}
#maid-types-container > select{
    width: 35%;
    border: none;
}
#special-qualities-container > select{
    border: none;
    border-bottom: solid black 1px;
}

#maid-roots-container > select, #stress-explosion-container > select, #maid-power-container > select{
    border: none;
}
#attributes-container{
    display:flex;
    justify-content: space-evenly;
}
.sheet-skill-container{
    box-sizing: border-box;
    width: 120px;
    height: 96px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /* display: flex;


   align-items: center;*/
}
.optgroup-replacement{
    background-color: grey;
    color: white; 
    font-weight: bold;
}

#athletics-label, #affection-label, #skill-label, #cunning-label, #luck-label, #will-label{
    display: inline;
    margin-left: 8px;
}


#game-title{
    width: 60%;
    height: 8%;
    font-size: 30px;
    text-align: center;
}

#game-title > span{
    font-weight: bold;
    font-size: 40px;
}

#maid-roots-container, #stress-explosion-container, #maid-power-container{
    box-sizing: border-box;
    border: dotted pink 3px;
    width: 100%;
    height: 33%;
    border-radius: 10px;
    margin: 10px; 
}


#special-qualities-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: dotted pink 3px;
    width: 33%;
    height: 250px;
    align-items: center;
    border-radius: 10px;
    margin: 10px; 
}

.charsheet button[type=roll].txt-btn{
    display: block;
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    border: rgba(255, 255, 255, 1);
    width: 120px;
    /*padding: 0% 30px;;*/
    font-weight: bold;
    border-radius: 10px;
    /*font-family: 'La Belle Aurore', cursive;*/
}


.charsheet button[type=roll].txt-btn:hover{
    background-color:white;
    color: red;
    border: white;
}

#attributes-container, #attributes-label{
    grid-column: 1 / 7;
}


.ui-dialog .charsheet button[type=roll]:before {
    content: "";
}

#sq-msm-container{
    display:flex;
}
/*.sheet-skill-label{
/*display: block;
align-self: center;
}*/

#athletics-label:hover, #affection-label, #skill-label, #cunning-label, #luck-label, #will-label{
    color: red;
}

#will, #luck, #cunning, #skill, #affection, #athletics{
    display: block;
    width: 100px;
    height: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border:0;
    z-index: 0;
    font-size: 30px;
}

#attributes-container{
    box-sizing: border-box;
    background-color: lightgray;
    border-top: 30px solid lightgrey;
    border-bottom: 10px solid lightgrey;
    border-radius: 15px;
}


#special-qualities-label, #stress-explosion-label, #maid-roots-label, #maid-power-label{
    margin-left: 15px;
}
#attributes-label{
    position: absolute;
    color: black;
    /*top: -15px;
    left: 23px;*/
    padding: 2px;
    margin-left: 5px;
    /*bottom: 0px;*/
    z-index: 1;
    font-size: 20px;
    /*font-family: jandy-swirly-twirly;*/
    /*Arial, Helvetica, sans-serif;*/
}

/* font-family: 'Covered By Your Grace', cursive;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Rancho', cursive;*/

